
@{
    ViewBag.Title = "SoDoPhong";
}0

@section header{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Room Management</title>
        <style>

            .modal-content {
                border: none;
                border-radius: 2px;
                box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
            }

            .modal-header {
                border-bottom: 0;
                padding-top: 15px;
                padding-right: 26px;
                padding-left: 26px;
                padding-bottom: 0px;
                background-color: rgb(0,127,255);
                color:white;
            }
            

            .modal-body{

            }
            
            .body-room {
                background-color: white;
                width: 100%;
                height: 1500px;
            }


            .header-room {
                background-color: white;
                width: 100%;
                height: 150px;
                position: relative;
            }

            .button-room-all {
                width: 100px;
                height: 40px;
                float: left;
                margin: 5px;
                background-color: white;
                border: 2px solid #4CAF50;
                border-radius: 5px;
                color: green;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: middle;
            }

            .button-room-trong {
                width: 90px;
                height: 40px;
                float: left;
                margin: 5px;
                background-color: green;
                border: 2px solid #4CAF50;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: middle;
            }

            .button-room-nhanphong {
                width: 140px;
                height: 40px;
                float: left;
                margin: 5px;
                background-color: deeppink;
                border: 2px solid #db7093;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: middle;
            }

            .button-room-quahan {
                width: 110px;
                height: 40px;
                float: left;
                margin: 5px;
                background-color: orangered;
                border: 2px solid #ff4500;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: middle;
            }

            .button-room-dadat {
                width: 100px;
                height: 40px;
                float: left;
                margin: 5px;
                background-color: blue;
                border: 2px solid #0000ff;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: middle;
            }

            .button-room-koden {
                width: 130px;
                height: 40px;
                float: left;
                margin: 5px;
                background-color: purple;
                border: 2px solid #800080;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: middle;
            }

            .button-room-dangsua {
                width: 120px;
                height: 40px;
                float: left;
                margin: 5px;
                background-color: grey;
                border: 2px solid #808080;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: middle;
            }

            .button-room-ban {
                width: 70px;
                height: 40px;
                float: left;
                margin: 5px;
                background-color: saddlebrown;
                border: 2px solid #8b4513;
                border-radius: 5px;
                color: white;
                font-weight: bold;
                font-size: 16px;
                text-align: center;
                vertical-align: middle;
            }

            .input-room {
                all: unset;
                width: 200px;
                height: 30px;
                position: absolute;
                left: 5px;
                margin: 5px;
                background-color: wheat;
                border: none;
                top: 70px;
                border-radius: 5px;
                border-color: red;
                text-align: left;
                font-size: 14px;
                color: black;
            }

            .room {
                width: 255px;
                height: 120px;
                
                float: left;
                margin-left: 20px;
                margin-top: 20px;
            }

            .room-left {
                width: 70px;
                height:120px;
                float: left;
               
                position: relative;
            }

            .room-left-number {
                font-size: 20px;
                height: 30px;
                margin: 0;
                text-align: center;
                color: white;
                font-weight: bold;
            }

            .room-left-type {
                padding-top: 5px;
                color: white;
                font-size: 12px;
                height: 30px;
                margin: 0;
                text-align: center;
                font-weight: bold;
            }

            .room-left-icon {
                height: 40px;
                margin: 0;
            }

            .room-right {
                float: left;
               
                width: 185px;
                height: 120px;
            }

            .room-right-text {
                all: unset;
                padding: 0px;
                height: 25px;
                margin-top: 5px;
                font-size: 13px;
                text-align: center;
                line-height: 10px;
                align-content: center;
                color: black;
                display: block;
            }

            .button-icon {
                width: 60px;
                height: 60px;
                float: left;
            }

                .button-icon a {
                    background-color: blue;
                }

                    .button-icon a .ico {
                        font-size: 2.8rem;
                        display: block;
                        text-align: center;
                        margin: auto;
                    }
        </style>

    </head>
    <body>
        @using HotelManagement.Models;
        @using HotelManagement.DaTa_Access_Object;

        <div id="modalNhanPhong" class="modal" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="max-width:60%!important">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="transform:translate(10px,10px);"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title w-700 font-weight-bold">Nhận phòng nhanh 301</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6 mb-2">
                                <div class="form-group">
                                    <label data-error="wrong" data-success="right" for="inputTenKhach">Tên khách*</label>
                                    <input type="text" id="inputTenKhach" class="form-control" placeholder="Enter name" style="font-size:20px;font-weight:500;">
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <div class="form-group">
                                    <input type="text" id="inputCMND" class="form-control" placeholder="Chứng minh nhân dân" style="margin-top:28px;border:none;border-bottom:1px solid gray;font-size:20px;font-weight:500;">
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <div class="form-group">
                                    <select class="form-control" id="typeRoom" style="font-size:16px;font-weight:500;font-family:sans-serif;border:none;border-bottom:1px solid gray;">
                                        <option>Phòng đơn</option>
                                        <option>Phòng đôi</option>
                                        <option>Phòng ba</option>
                                        <option>Phòng Vip</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <div class="form-group">
                                    <select class="form-control" id="numberRoom" style="font-size:16px;font-weight:500;font-family:sans-serif;border:none;border-bottom:1px solid gray;">
                                        <option>301</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <div class="form-group">
                                    <label data-error="wrong" data-success="right" for="thoigianden" style="transform:translate(0,38px);">Sẽ đến : </label>
                                    <input type="datetime-local" id="thoigianden" style="transform:translate(0,38px);"/>
                                </div>
                            </div>
                            
                            <div class="col-sm-6 mb-2">
                                <div class="form-group">
                                    <label data-error="wrong" data-success="right" for="inputTenKhach">Giá</label>
                                    <input type="text" id="inputGia" class="form-control" placeholder="Enter Giá Phòng" style="font-size:20px;font-weight:500;border:none;border-bottom:1px solid gray;">
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <div class="form-group">
                                    <label data-error="wrong" data-success="right" for="thoigiandi" style="transform:translate(0,38px);">Sẽ đi : </label>
                                    <input type="datetime-local" id="thoigiandi" style="transform:translate(0,38px);" />
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <div class="form-group">
                                    <label data-error="wrong" data-success="right" for="inputSoNguoiLon">Người lớn</label>
                                    <input type="text" id="inputSoNguoiLon" class="form-control" style="font-size:20px;font-weight:500;border:none;border-bottom:1px solid gray;">
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <div class="form-group">
                                    <input type="text" id="inputDatCoc" class="form-control" placeholder="Đặt Cọc" style="margin-top:28px;border:none;border-bottom:1px solid gray;font-size:20px;font-weight:500;">
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <div class="form-group">
                                    <label data-error="wrong" data-success="right" for="inputSoTreEm">Số trẻ em</label>
                                    <input type="text" id="inputSoTreEm" class="form-control" style="font-size:20px;font-weight:500;border:none;border-bottom:1px solid gray;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-primary" data-dismiss="modal" aria-hidden="true" style="transform:translate(-500px,0);">Bỏ qua</button>
                        <button class="btn btn-primary btn-sm">Đặt trước</button>
                        <button class="btn btn-danger btn-sm">Nhận phòng</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="body-room">

            <div class="header-room">
                <form method="post" action="/SoDoPhong/SoDoPhong">
                    <button type="submit" class="button-room-all" name="TatCa">Tất cả (20)</button>

                </form>

                <form method="post" action="/SoDoPhong/ShowLoaiPhongTrong">
                    <button type="submit" class="button-room-trong" name="Trong">Trống (9)</button>
                </form>

                <form method="post" action="/SoDoPhong/ShowPhongNhan">
                    <button class="button-room-nhanphong" name="NhanPhong">Nhận phòng (1)</button>
                </form>

                <form method="post" action="/SoDoPhong/ShowPhongQuaHan">
                    <button class="button-room-quahan" name="QuaHan">Quá hạn (1)</button>
                </form>

                <form method="post" action="/SoDoPhong/ShowPhongDaDat">
                    <button class="button-room-dadat" name="Dadat">Đã đặt (1)</button>
                </form>

                <form method="post" action="/SoDoPhong/ShowPhongKhongDen">
                    <button class="button-room-koden" name="KhongDen">Không đến (6)</button>
                </form>

                <div class="button-icon">
                    <a href="#" class="button">
                        <span class="ico fa-skull-crossbones"></span>
                    </a>
                </div>
                <br />
                <input class="input-room" type="text" name="name" value="" placeholder="Lọc phòng" />
            </div>
            <form method="post" action="/SoDoPhong/Refresh">
                <button style="margin-left:1000px"> Reresh </button>
            </form>
            <div class="content-room">

                @{

                    List<ThongTinPhong> thongtinphong = new List<ThongTinPhong>();
                    thongtinphong = ViewBag.thongtinphong;
                    <h1>@thongtinphong.Count()</h1>
                    for (int i = 0; i < thongtinphong.Count(); i++)
                    {

                        if (thongtinphong[i].TrangThai == "Trong")
                        {
                            <div class="room">
                                <div class="room-left" id="@i" style="background-color:green">
                                    <p class="room-left-type">@thongtinphong[i].LoaiPhong</p>
                                    <p class="room-left-number">@thongtinphong[i].SoPhong</p>
                                    <p class="room-left-icon">
                                        <img src="https://lh3.googleusercontent.com/t4W665N-6AGlxIXbMIzJznQFPTJ4TgGMl2BrT32KyxsMBeEFpyhfjMIFU0D1eZ6dUuQk=w720-h310" height="20" width="20" style="left:25px;top:70px; position:absolute;" />
                                    </p>
                                </div>

                                <div class="room-right" id="sophong" style="background-color:rgb(66, 242, 157 )" data-toggle="modal" data-target="#modalRoom">
                                    <p class="room-right-text"> @thongtinphong[i].TrangThai</p>

                                </div>
                            </div>
                        }


                        if (thongtinphong[i].TrangThai == "Da Dat")
                        {
                            <div class="room">
                                <div class="room-left" id="@i" style="background-color:blue" data-toggle="modal" data-target="#modalNhanPhong">
                                    <p class="room-left-type">@thongtinphong[i].LoaiPhong</p>
                                    <p class="room-left-number">@thongtinphong[i].SoPhong</p>
                                    <p class="room-left-icon">
                                        <img src="https://lh3.googleusercontent.com/t4W665N-6AGlxIXbMIzJznQFPTJ4TgGMl2BrT32KyxsMBeEFpyhfjMIFU0D1eZ6dUuQk=w720-h310" height="20" width="20" style="left:25px;top:70px; position:absolute;" />
                                    </p>
                                </div>

                                <div class="room-right" id="" style="background-color:dodgerblue" data-toggle="modal" data-target="#modalRoom">
                                    <p class="room-right-text">@thongtinphong[i].ThoiGianDen -> @thongtinphong[i].ThoiGianDi</p>
                                    <p class="room-right-text"> @thongtinphong[i].TrangThai</p>
                                    <p class="room-right-text">@thongtinphong[i].TenKhachHang</p>

                                </div>
                            </div>
                        }
                        if (thongtinphong[i].TrangThai == "Da Nhan")
                        {
                            <div class="room">
                                <div class="room-left" id="@i" style="background-color:deeppink">
                                    <p class="room-left-type">@thongtinphong[i].LoaiPhong</p>
                                    <p class="room-left-number">@thongtinphong[i].SoPhong</p>
                                    <p class="room-left-icon">
                                        <img src="https://lh3.googleusercontent.com/t4W665N-6AGlxIXbMIzJznQFPTJ4TgGMl2BrT32KyxsMBeEFpyhfjMIFU0D1eZ6dUuQk=w720-h310" height="20" width="20" style="left:25px;top:70px; position:absolute;" />
                                    </p>
                                </div>

                                <div class="room-right" id="" style="background-color:hotpink" data-toggle="modal" data-target="#modalRoom">
                                    <p class="room-right-text">@thongtinphong[i].ThoiGianDen -> @thongtinphong[i].ThoiGianDi</p>
                                    <p class="room-right-text"> @thongtinphong[i].TrangThai</p>
                                    <p class="room-right-text">@thongtinphong[i].TenKhachHang</p>

                                </div>
                            </div>
                        }
                        if (thongtinphong[i].TrangThai == "Qua Han")
                        {
                            <div class="room">
                                <div class="room-left" id="@i" style="background-color:orangered">
                                    <p class="room-left-type">@thongtinphong[i].LoaiPhong</p>
                                    <p class="room-left-number">@thongtinphong[i].SoPhong</p>
                                    <p class="room-left-icon">
                                        <img src="https://lh3.googleusercontent.com/t4W665N-6AGlxIXbMIzJznQFPTJ4TgGMl2BrT32KyxsMBeEFpyhfjMIFU0D1eZ6dUuQk=w720-h310" height="20" width="20" style="left:25px;top:70px; position:absolute;" />
                                    </p>
                                </div>

                                <div class="room-right" id="" style="background-color:rgb(255,205,142)" data-toggle="modal" data-target="#modalRoom">
                                    <p class="room-right-text">@thongtinphong[i].ThoiGianDen -> @thongtinphong[i].ThoiGianDi</p>
                                    <p class="room-right-text"> @thongtinphong[i].TrangThai</p>
                                    <p class="room-right-text">@thongtinphong[i].TenKhachHang</p>

                                </div>
                            </div>
                        }
                        if (thongtinphong[i].TrangThai == "Khong Den")
                        {
                            <div class="room">
                                <div class="room-left" id="@i" style="background-color:purple">
                                    <p class="room-left-type">@thongtinphong[i].LoaiPhong</p>
                                    <p class="room-left-number">@thongtinphong[i].SoPhong</p>
                                    <p class="room-left-icon">
                                        <img src="https://lh3.googleusercontent.com/t4W665N-6AGlxIXbMIzJznQFPTJ4TgGMl2BrT32KyxsMBeEFpyhfjMIFU0D1eZ6dUuQk=w720-h310" height="20" width="20" style="left:25px;top:70px; position:absolute;" />
                                    </p>
                                </div>

                                <div class="room-right" id="" style="background-color:rgb(198,170,221)" data-toggle="modal" data-target="#modalRoom">
                                    <p class="room-right-text">@thongtinphong[i].ThoiGianDen -> @thongtinphong[i].ThoiGianDi</p>
                                    <p class="room-right-text"> @thongtinphong[i].TrangThai</p>
                                    <p class="room-right-text">@thongtinphong[i].TenKhachHang</p>

                                </div>
                            </div>
                        }
                    }


                }


            </div>
        </div>
        
        
    </body>
</html>
}
